@charset "utf-8";

/* 基础样式*/
* {
    margin: 0;
    padding: 0;
}
body{
	color: #fff;
}
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    border: 0;
}
body {
	font-family: "Microsoft Yahei";
}